:root {
    --grey-primary: #EEEEEE;
    --active-primary: #007AFF;
    --grey-secondary: #414042;
    --grey-tertiary: #F8F8F8;
    --white: #ffffff;
}

html { 
    scroll-behavior: smooth;
}

*, body {
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
}

body {
    background-color: var(--grey-primary);
}

.title-spacing {
    margin: 48px 80px;
}

/*
.main-container {
    margin: 0 160px;
}
*/

.home-portrait {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img {
    object-fit: fill;
    width: 780px;
}

h2 {
    text-align: center;
    margin: 0 12%;
    font-weight: 400;
    font-size: 24px;
    color: var(--grey-secondary);
}

h1 {
    font-weight: 400;
    font-size: 32px;
}

nav {
    width: fit-content;
    position: fixed;
    right: 0;
    top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav-item {
    width: 41px;
    height: 41px;
    padding: 8px 40px 8px 16px;
    background-color: var(--grey-primary);
    border-radius: 8px 0px 0px 8px;
}

.nav-icon {
    width: 32px;
}

.active-item {
    background-color: var(--active-primary);
}


.active {
    color: var(--active-primary);
    background-color: var(--white);
}

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    text-align: center;
}

.home-hi {
    width: 160px;
}

.work-card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--grey-tertiary);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 15px 3px rgb(223, 233, 236);
}

.web-banner:hover {
    filter: brightness(70%);
}

.web-banner {
    max-width: 974px;
    border-radius: 8px;
}

.socials-card {
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 32px;
}

button:hover {
    background-color: grey;
    color: var(--white);
}

/* TEST FOR ACTIVE STATE
.btn:active {
    color: var(--active-primary);
    background-color: var(--white);
}
*/

button {
    font-size: 24px;
    width: 240px;
    height: 68px;
    color: var(--grey-secondary);
    background-color: var(--grey-primary);
    border-color: var(--grey-primary);
    border-style: solid;
}

.card-container {
    display: flex;
    color: var(--grey-secondary);
    margin-bottom: 32px;
    font-size: 20px;
    border-radius: 8px;
    gap: 44px;
}

.project-image:hover {
    filter: brightness(70%);
}

.project-image {
    border-bottom: var(--grey-primary) 2px solid;
    /* border: red 2px solid;
    border-radius: 8px 8px 0px 0px; */
}

.card-text {
    /* border-radius: 0px 0px 8px 8px; */
    margin: 0;
    padding-top: 8px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-bottom: 12px;
}

.card:hover {
    background-color: grey;
    color: var(--white);
}

.card {
    background-color: var(--white);
    border: var(--grey-primary) 2px solid;
    border-radius: 8px;
}

.spheres-container {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}

.spline-container {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}






