@font-face {
  font-family: myFont-custom;
  src: url(custom.ttf);
}

:root {
    --grey-primary: #EEEEEE;
    --active-primary: #007AFF;
    --grey-secondary: #414042;
    --grey-tertiary: #F8F8F8;
    --white: #ffffff;
}

html { 
    scroll-behavior: smooth;
}

*, body {
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
    src: url(./resources/HelveticaNeue.ttf);
}

body {
    background-color: var(--grey-primary);
}

p {
    font-size: 20px;
    font-weight: normal;
    color: var(--grey-secondary);
}

.back {
    color: var(--active-primary);
    margin-left: 4%;
}

.title-spacing {
    margin: 48px 80px;
}

a {
    color: var(--grey-secondary);
    text-decoration: none;
}

.home-portrait {
    display: flex;
    align-items: center;
    justify-content: center;
}

h6 {
  font-weight: 400;
  font-size: 14px;
  color: #787878;
}

h5 {
    font-weight: bold;
    font-size: 22px;
    color: var(--grey-secondary);
}

h4 {
    margin-top: 48px;
    font-weight: bold;
    font-size: 24px;
    color: var(--active-primary);
    text-decoration: underline;
}

h3 {
  font-size: 24px;
  color: #2D29FF;
  margin: 0 0;
  font-family: 'myFont-custom';
}

h2 {
    text-align: justify;
    margin: 0 16%;
    font-weight: 400;
    font-size: 20px;
    color: var(--grey-secondary);
}

h1 {
  display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 3%;
    color: var(--grey-secondary);
}

nav {
    width: fit-content;
    position: fixed;
    left: 4%;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.active-item {
    background-color: var(--active-primary);
}

.active {
    color: var(--active-primary);
    background-color: var(--white);
    border-color: var(--white);
}

header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 8%;
}

.work-card {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: var(--grey-tertiary);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

.web-banner:hover {
    filter: brightness(70%);
}

.web-banner {
    max-width: 974px;
    border-radius: 8px;
}

.web-banner-nohover {
    max-width: 974px;
    border-radius: 8px;
}

.button-container {
    margin-top: 32px;
}

button:hover {
    background-color: grey;
    color: var(--white);
}

button {
    font-size: 20px;
    font-weight: bold;
    width: 240px;
    height: 68px;
    color: var(--grey-secondary);
    background-color: var(--grey-primary);
    border-color: var(--grey-primary);
    border-style: solid;
    border-radius: 8px;
}

.card-container {
    display: flex;
    color: var(--grey-secondary);
    margin-bottom: 32px;
    border-radius: 8px;
    gap: 44px;
}

.project-image:hover {
    filter: brightness(70%);
}

.project-image {
    border-bottom: var(--grey-primary) 2px solid;
    width: 100%;
}

.card-text {
    margin: 0;
    padding-top: 8px;
    text-align: center;
    margin-bottom: 12px;
}

.card:hover {
    background-color: grey;
    color: var(--white);
}

.card {
    background-color: var(--white);
    border: var(--grey-primary) 2px solid;
    border-radius: 8px;
}

.socials-section {
  margin: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;
}
.junkyard {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-card {
    background-color: var(--grey-primary);
}

.spheres-container {
  display: flex;
  gap: 13%;
  justify-content: center;
  align-items: center;
  width: 50%;
}